In [1]:
import numpy as np
import pandas as pd

In [3]:
import sys
sys.path.append('../PEAS/app/')
sys.path.append('../PEAS/db_build/')
import db_factory
import data

In [ ]:
mars_spectrum = pd.read_csv('../PEAS/app/data/mars_spectrum.dat', delim_whitespace=True, header=None, names=['wavelength','flux'])

In [ ]:
mars_spectrum

In [ ]:
jupiter_spectrum = pd.read_csv('../PEAS/app/data/Albedos/Jupiter.txt', delim_whitespace=True, header=None, names=['wavelength','flux'])
jupiter_spectrum

In [ ]:
venus_spectrum = pd.read_csv('../PEAS/app/data/Albedos/Venus.txt', delim_whitespace=True, header=None, names=['wavelength','flux'])
venus_spectrum

In [ ]:
saturn_spectrum = pd.read_csv('../PEAS/app/data/Albedos/Saturn.txt', delim_whitespace=True, header=None, names=['wavelength','flux'])
saturn_spectrum

In [4]:
earth_spectrum = pd.read_csv('../PEAS/app/data/Albedos/Earth.txt', delim_whitespace=True, header=None, names=['wavelength','flux'])
earth_spectrum

      wavelength      flux
0       0.450000  0.269574
1       0.451153  0.262689
2       0.452307  0.269469
3       0.453460  0.273946
4       0.454613  0.275201
...          ...       ...
1747    2.492473 -3.557794
1748    2.493626 -1.288751
1749    2.494780 -0.570809
1750    2.495933 -0.341534
1751    2.497086 -0.259273

[1752 rows x 2 columns]

In [7]:
# #data 1
# meta1 = {
#     'UT_date':'2021-08-10',
#     'time_of_obs':'10:05:35',
#     'object_name':'Mars',
#     'integration_time':3.89,
#     'grating':1,
#     'central_wavelength':640.2,
#     'slit_width':300,
#     'phase_angle':45.3,
#     'comments':'This is a test'
# }
# wave1 =  mars_spectrum['wavelength'].values
# flux1 = mars_spectrum['flux'].values

# #data 2
# meta2 = {
#     'UT_date':'2021-08-12',
#     'time_of_obs':'11:45:22',
#     'object_name':'Jupiter',
#     'integration_time':3.11,
#     'grating':2,
#     'central_wavelength':400.8,
#     'slit_width':250,
#     'phase_angle':22.7,
#     'comments':'This is test 2'
# }
# wave2 = jupiter_spectrum['wavelength'].values
# flux2 = jupiter_spectrum['flux'].values

# #data 3
# meta3 = {
#     'UT_date':'2021-08-14',
#     'time_of_obs':'10:05:35',
#     'object_name':'Venus',
#     'integration_time':6.59,
#     'grating':3,
#     'central_wavelength':587.4,
#     'slit_width':200,
#     'phase_angle':52.1,
#     'comments':'This is test 3'
# }
# wave3 =  venus_spectrum['wavelength'].values
# flux3 = venus_spectrum['flux'].values

# #data 4
# meta4 = {
#     'UT_date':'2021-08-16',
#     'time_of_obs':'11:45:22',
#     'object_name':'Saturn',
#     'integration_time':5.23,
#     'grating':4,
#     'central_wavelength':265.9,
#     'slit_width':500,
#     'phase_angle':25.9,
#     'comments':'This is test 4'
# }
# wave4 = saturn_spectrum['wavelength'].values
# flux4 = saturn_spectrum['flux'].values

#data 5
meta5 = {
    'UT_date':'2021-09-03',
    'time_of_obs':'09:42:10',
    'object_name':'Earth',
    'integration_time':7.82,
    'grating':1,
    'central_wavelength':324.7,
    'slit_width':450,
    'phase_angle':34.2,
    'comments':'This is test 5'
}
wave5 = earth_spectrum['wavelength'].values
flux5 = earth_spectrum['flux'].values

In [8]:
meta5['UT_date']

'2021-09-03'

In [11]:
PEAS_db = db_factory.create_PEAS_db('PEAS.db')

# PEAS_db.create_db()

In [ ]:
# PEAS_db = db_factory.create_PEAS_db('PEAS.db')
PEAS_db.PEAS_insert(meta1, wave1, flux1)

In [ ]:
data.PEAS_db.get_data(PEAS_db,'Mars')

In [ ]:
PEAS_db.PEAS_insert(meta2, wave2, flux2)

In [ ]:
PEAS_db.PEAS_insert(meta3, wave3, flux3)

In [12]:
PEAS_db.PEAS_insert(meta5, wave5, flux5)

2021-09-03

In [ ]:
data.PEAS_db.get_data(PEAS_db,'Jupiter')

In [13]:
PEAS_db = data.PEAS_db('PEAS.db')
meta_items = PEAS_db.get_meta_items()
meta_items

[(1,
  '2021-08-10',
  '10:05:35',
  'Mars',
  3.89,
  1,
  640.2,
  300,
  45.3,
  'This is a test'),
 (2,
  '2021-08-12',
  '11:45:22',
  'Jupiter',
  3.11,
  2,
  400.8,
  250,
  22.7,
  'This is test 2'),
 (3,
  '2021-08-14',
  '10:05:35',
  'Venus',
  6.59,
  3,
  587.4,
  200,
  52.1,
  'This is test 3'),
 (4,
  '2021-08-16',
  '11:45:22',
  'Saturn',
  5.23,
  4,
  265.9,
  500,
  25.9,
  'This is test 4'),
 (5,
  '2021-09-03',
  '09:42:10',
  'Earth',
  7.82,
  1,
  324.7,
  450,
  34.2,
  'This is test 5')]

In [ ]:
all_planets = {
                'Mercury' : 1,
                'Venus' : 2,
                'Earth' : 3,
                'Mars' : 4,
                'Jupiter': 5,
                'Saturn' : 6,
                'Uranus' : 7,
                'Neptune' : 8}